@model List<Product>
@{
    ViewData["Title"] = "Страница магазина";
}

<div class="my-container">
    <div class="block1">
        @{
            if (Model != null && Model.Count > 0)
            {
                foreach (Product product in Model)
                {
                    <div class="block1-in-box">
                        <img src="~/@product.PathImage" alt="error">
                        <h5>@product.Name</h5>
                        <div class="">
                            <p>Цена: <span>@product.Price</span><span>Тенге</span></p>
                            <p>
                                <button><i class="fas fa-minus"></i></button>
                                <button><i class="fas fa-plus"></i></button>
                                <span>0</span>
                            </p>
                        </div>
                    </div>
                }
            }
            else
            {
                <h2>Товар не найден</h2>
            }
        }
    </div>
    <div class="block2">
        <div class="block2-in-box1" >
            <h2>Корзина</h2>
            <div class="order-table">
                @{
                    await Html.RenderPartialAsync("Partial/OrderTablePartial");
                }
            </div>
            <div class="block2-in-box1-footer">
                <button type="button" class="btn btn-light">Оплатить</button>
            </div>
        </div>
        <div class="block2-in-box2" style="display: none">
            <h2>Оформить заказ</h2>
            <div>
                <div class="mb-3 ">
                    <label for="address" class="form-label">Адрес</label>
                    <input type="text" class="form-control" id="address" placeholder="Адрес доставки">
                </div>
                <div class="mb-3 ">
                    <label for="CardNumber" class="form-label">Номер карты</label>
                    <input type="text" class="form-control" id="CardNumber" placeholder="0000-0000-0000-0000">
                </div>
            </div>
            <div class="block2-in-box1-footer">
                <button type="button" class="btn btn-light">Оформить</button>
            </div>
        </div>
    </div>
</div>

